<!DOCTYPE html>
<html>
  <head>
    <title>
      <!-- build:title -->
    </title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="../../styles/global.css" />
  </head>

  <body>
    <div id="page-wrapper">
      <section id="site-section">
        <h1>Hello world</h1>
        <h2>Airdrie Pond</h2>
        <p>&#8776;5.1&Prime; ice thickeness</p>
        <div class="cp-carousel">
          <div class="cp-carousel-wrapper">
            <ul class="cp-carousel-slider">
              <li
                aria-label="Nov 15th, 2020 ice report"
                role="listitem"
                class="cp-carousel-slider-slide"
              >
                <article>
                  <h3>
                    <time datetime="2020-11-15">Nov 2020<br />Thu 15th</time>
                  </h3>
                  <p class="ice-formation">
                    +0.5" <span class="a11y">Ice formation</span>
                  </p>
                  <h4 class="temp-title">Daily Temps</h4>
                  <p class="temps">
                    <span class="temp-label" aria-label="high temperature of"
                      >High</span
                    >
                    39<sup class="temp-unit" aria-label="°Fahrenheit"
                      >&deg;F</sup
                    >
                    <span class="temp-label" aria-label="low temperature of"
                      >Low</span
                    >
                    14<sup class="temp-unit" aria-label="°Fahrenheit"
                      >&deg;F</sup
                    >
                  </p>
                </article>
              </li>
              <li
                aria-label="Nov 14th, 2020 ice report"
                role="listitem"
                class="cp-carousel-slider-slide"
              >
                <article>
                  <h3>
                    <time datetime="2020-11-14">Nov 2020<br />Thu 14th</time>
                  </h3>
                  <p class="ice-formation">
                    +0.2" <span class="a11y">Ice formation</span>
                  </p>
                  <h4 class="temp-title">Daily Temps</h4>
                  <p class="temps">
                    <span class="temp-label" aria-label="high temperature of"
                      >High</span
                    >
                    33<sup class="temp-unit" aria-label="°Fahrenheit"
                      >&deg;F</sup
                    >
                    <span class="temp-label" aria-label="low temperature of"
                      >Low</span
                    >
                    25<sup class="temp-unit" aria-label="°Fahrenheit"
                      >&deg;F</sup
                    >
                  </p>
                </article>
              </li>
              <li
                aria-label="Nov 13th, 2020 ice report"
                role="listitem"
                class="cp-carousel-slider-slide"
              >
                <article>
                  <h3>
                    <time datetime="2020-11-13">Nov 2020<br />Thu 13th</time>
                  </h3>
                  <p class="ice-formation">
                    +0.3" <span class="a11y">Ice formation</span>
                  </p>
                  <h4 class="temp-title">Daily Temps</h4>
                  <p class="temps">
                    <span class="temp-label" aria-label="high temperature of"
                      >High</span
                    >
                    33<sup class="temp-unit" aria-label="°Fahrenheit"
                      >&deg;F</sup
                    >
                    <span class="temp-label" aria-label="low temperature of"
                      >Low</span
                    >
                    20<sup class="temp-unit" aria-label="°Fahrenheit"
                      >&deg;F</sup
                    >
                  </p>
                </article>
              </li>
              <li
                aria-label="Nov 12th, 2020 ice report"
                role="listitem"
                class="cp-carousel-slider-slide"
              >
                <article>
                  <h3>
                    <time datetime="2020-11-12">Nov 2020<br />Thu 12th</time>
                  </h3>
                  <p class="ice-formation">
                    +0.8" <span class="a11y">Ice formation</span>
                  </p>
                  <h4 class="temp-title">Daily Temps</h4>
                  <p class="temps">
                    <span class="temp-label" aria-label="high temperature of"
                      >High</span
                    >
                    32<sup class="temp-unit" aria-label="°Fahrenheit"
                      >&deg;F</sup
                    >
                    <span class="temp-label" aria-label="low temperature of"
                      >Low</span
                    >
                    11<sup class="temp-unit" aria-label="°Fahrenheit"
                      >&deg;F</sup
                    >
                  </p>
                </article>
              </li>
              <li
                aria-label="Nov 11th, 2020 ice report"
                role="listitem"
                class="cp-carousel-slider-slide"
              >
                <article>
                  <h3>
                    <time datetime="2020-11-11">Nov 2020<br />Thu 11th</time>
                  </h3>
                  <p class="ice-formation">
                    -0.7" <span class="a11y">Ice loss</span>
                  </p>
                  <h4 class="temp-title">Daily Temps</h4>
                  <p class="temps">
                    <span class="temp-label" aria-label="high temperature of"
                      >High</span
                    >
                    42<sup class="temp-unit" aria-label="°Fahrenheit"
                      >&deg;F</sup
                    >
                    <span class="temp-label" aria-label="low temperature of"
                      >Low</span
                    >
                    30<sup class="temp-unit" aria-label="°Fahrenheit"
                      >&deg;F</sup
                    >
                  </p>
                </article>
              </li>
              <li
                aria-label="Nov 10th, 2020 ice report"
                role="listitem"
                class="cp-carousel-slider-slide"
              >
                <article>
                  <h3>
                    <time datetime="2020-11-10">Nov 2020<br />Thu 10th</time>
                  </h3>
                  <p class="ice-formation">
                    -1.7" <span class="a11y">Ice formation</span>
                  </p>
                  <h4 class="temp-title">Daily Temps</h4>
                  <p class="temps">
                    <span class="temp-label" aria-label="high temperature of"
                      >High</span
                    >
                    51<sup class="temp-unit" aria-label="°Fahrenheit"
                      >&deg;F</sup
                    >
                    <span class="temp-label" aria-label="low temperature of"
                      >Low</span
                    >
                    33<sup class="temp-unit" aria-label="°Fahrenheit"
                      >&deg;F</sup
                    >
                  </p>
                </article>
              </li>
            </ul>
          </div>

          <button aria-label="Previous Dates" class="cp-carousel-prev">
            Previous Dates
          </button>
          <button aria-label="Next Dates" class="cp-carousel-next">
            Next Dates
          </button>
          <div aria-live="polite" class="a11y cp-carousel-a11y-live"></div>
        </div>
        <h2>Airdrie Pond <span>~-5.1&Prime; of ice</span></h2>
        <div class="cp-carousel">
          <div class="cp-carousel-wrapper">
            <ul class="cp-carousel-slider">
              <li
                aria-label="Nov 15th, 2020 ice report"
                role="listitem"
                class="cp-carousel-slider-slide"
              >
                <article>
                  <h3>
                    <time datetime="2020-11-15">Nov 2020<br />Thu 15th</time>
                  </h3>
                  <p class="ice-formation">
                    +0.5" <span class="a11y">Ice formation</span>
                  </p>
                  <h4 class="temp-title">Daily Temps</h4>
                  <p class="temps">
                    <span class="temp-label" aria-label="high temperature of"
                      >High</span
                    >
                    39<sup class="temp-unit" aria-label="°Fahrenheit"
                      >&deg;F</sup
                    >
                    <span class="temp-label" aria-label="low temperature of"
                      >Low</span
                    >
                    14<sup class="temp-unit" aria-label="°Fahrenheit"
                      >&deg;F</sup
                    >
                  </p>
                </article>
              </li>
              <li
                aria-label="Nov 14th, 2020 ice report"
                role="listitem"
                class="cp-carousel-slider-slide"
              >
                <article>
                  <h3>
                    <time datetime="2020-11-14">Nov 2020<br />Thu 14th</time>
                  </h3>
                  <p class="ice-formation">
                    +0.2" <span class="a11y">Ice formation</span>
                  </p>
                  <h4 class="temp-title">Daily Temps</h4>
                  <p class="temps">
                    <span class="temp-label" aria-label="high temperature of"
                      >High</span
                    >
                    33<sup class="temp-unit" aria-label="°Fahrenheit"
                      >&deg;F</sup
                    >
                    <span class="temp-label" aria-label="low temperature of"
                      >Low</span
                    >
                    25<sup class="temp-unit" aria-label="°Fahrenheit"
                      >&deg;F</sup
                    >
                  </p>
                </article>
              </li>
              <li
                aria-label="Nov 13th, 2020 ice report"
                role="listitem"
                class="cp-carousel-slider-slide"
              >
                <article>
                  <h3>
                    <time datetime="2020-11-13">Nov 2020<br />Thu 13th</time>
                  </h3>
                  <p class="ice-formation">
                    +0.3" <span class="a11y">Ice formation</span>
                  </p>
                  <h4 class="temp-title">Daily Temps</h4>
                  <p class="temps">
                    <span class="temp-label" aria-label="high temperature of"
                      >High</span
                    >
                    33<sup class="temp-unit" aria-label="°Fahrenheit"
                      >&deg;F</sup
                    >
                    <span class="temp-label" aria-label="low temperature of"
                      >Low</span
                    >
                    20<sup class="temp-unit" aria-label="°Fahrenheit"
                      >&deg;F</sup
                    >
                  </p>
                </article>
              </li>
              <li
                aria-label="Nov 12th, 2020 ice report"
                role="listitem"
                class="cp-carousel-slider-slide"
              >
                <article>
                  <h3>
                    <time datetime="2020-11-12">Nov 2020<br />Thu 12th</time>
                  </h3>
                  <p class="ice-formation">
                    +0.8" <span class="a11y">Ice formation</span>
                  </p>
                  <h4 class="temp-title">Daily Temps</h4>
                  <p class="temps">
                    <span class="temp-label" aria-label="high temperature of"
                      >High</span
                    >
                    32<sup class="temp-unit" aria-label="°Fahrenheit"
                      >&deg;F</sup
                    >
                    <span class="temp-label" aria-label="low temperature of"
                      >Low</span
                    >
                    11<sup class="temp-unit" aria-label="°Fahrenheit"
                      >&deg;F</sup
                    >
                  </p>
                </article>
              </li>
              <li
                aria-label="Nov 11th, 2020 ice report"
                role="listitem"
                class="cp-carousel-slider-slide"
              >
                <article>
                  <h3>
                    <time datetime="2020-11-11">Nov 2020<br />Thu 11th</time>
                  </h3>
                  <p class="ice-formation">
                    -0.7" <span class="a11y">Ice loss</span>
                  </p>
                  <h4 class="temp-title">Daily Temps</h4>
                  <p class="temps">
                    <span class="temp-label" aria-label="high temperature of"
                      >High</span
                    >
                    42<sup class="temp-unit" aria-label="°Fahrenheit"
                      >&deg;F</sup
                    >
                    <span class="temp-label" aria-label="low temperature of"
                      >Low</span
                    >
                    30<sup class="temp-unit" aria-label="°Fahrenheit"
                      >&deg;F</sup
                    >
                  </p>
                </article>
              </li>
              <li
                aria-label="Nov 10th, 2020 ice report"
                role="listitem"
                class="cp-carousel-slider-slide"
              >
                <article>
                  <h3>
                    <time datetime="2020-11-10">Nov 2020<br />Thu 10th</time>
                  </h3>
                  <p class="ice-formation">
                    -1.7" <span class="a11y">Ice formation</span>
                  </p>
                  <h4 class="temp-title">Daily Temps</h4>
                  <p class="temps">
                    <span class="temp-label" aria-label="high temperature of"
                      >High</span
                    >
                    51<sup class="temp-unit" aria-label="°Fahrenheit"
                      >&deg;F</sup
                    >
                    <span class="temp-label" aria-label="low temperature of"
                      >Low</span
                    >
                    33<sup class="temp-unit" aria-label="°Fahrenheit"
                      >&deg;F</sup
                    >
                  </p>
                </article>
              </li>
            </ul>
          </div>

          <button aria-label="Previous Dates" class="cp-carousel-prev">
            Previous Dates
          </button>
          <button aria-label="Next Dates" class="cp-carousel-next">
            Next Dates
          </button>
          <div aria-live="polite" class="a11y cp-carousel-a11y-live"></div>
        </div>
      </section>
    </div>
    <script src="../../scripts/global.js"></script>
  </body>
</html>
