<div class="cp-carousel">
  <div class="cp-carousel-wrapper">
    <ul class="cp-carousel-slider">
      <li
        aria-label="Nov 15th, 2020 ice report"
        role="listitem"
        class="cp-carousel-slider-slide"
      >
        <article>
          <h3><time datetime="2020-11-15">Nov 15th, 2020</time></h3>
          <p>
            ~0.5" Ice Freeze
          </p>
          <h4>Daily Temps (fahrenheit)</h4>
          <p>
            High 39&deg; | Low 14&deg;
          </p>
        </article>
      </li>
      <li
        aria-label="Nov 14th, 2020 ice report"
        role="listitem"
        class="cp-carousel-slider-slide"
      >
        <article>
          <h3><time datetime="2020-11-14">Nov 14th, 2020</time></h3>
          <p>
            ~0.2" Ice Freeze
          </p>
          <h4>Daily Temps (fahrenheit)</h4>
          <p>
            High 33&deg; | Low 25&deg;
          </p>
        </article>
      </li>
      <li
        aria-label="Nov 13th, 2020 ice report"
        role="listitem"
        class="cp-carousel-slider-slide"
      >
        <article>
          <h3><time datetime="2020-11-13">Nov 13th, 2020</time></h3>
          <p>
            ~0.3" Ice Freeze
          </p>
          <h4>Daily Temps (fahrenheit)</h4>
          <p>
            High 33&deg; | Low 20&deg;
          </p>
        </article>
      </li>
      <li
        aria-label="Nov 12th, 2020 ice report"
        role="listitem"
        class="cp-carousel-slider-slide"
      >
        <article>
          <h3><time datetime="2020-11-12">Nov 12th, 2020</time></h3>
          <p>
            ~0.8" Ice Freeze
          </p>
          <h4>Daily Temps (fahrenheit)</h4>
          <p>
            High 33&deg; | Low 11&deg;
          </p>
        </article>
      </li>
      <li
        aria-label="Nov 11th, 2020 ice report"
        role="listitem"
        class="cp-carousel-slider-slide"
      >
        <article>
          <h3><time datetime="2020-11-11">Nov 11th, 2020</time></h3>
          <p>
            ~0.9" Ice Freeze
          </p>
          <h4>Daily Temps (fahrenheit)</h4>
          <p>
            High 428&deg; | Low 11&deg;
          </p>
        </article>
      </li>
      <li
        aria-label="Nov 10th, 2020 ice report"
        role="listitem"
        class="cp-carousel-slider-slide"
      >
        <article>
          <h3><time datetime="2020-11-10">Nov 10th, 2020</time></h3>
          <p>
            ~0.1" Ice Freeze
          </p>
          <h4>Daily Temps (fahrenheit)</h4>
          <p>
            High 31&deg; | Low 28&deg;
          </p>
        </article>
      </li>
      <li
        aria-label="Nov 9th, 2020 ice report"
        role="listitem"
        class="cp-carousel-slider-slide"
      >
        <article>
          <h3><time datetime="2020-11-09">Nov 9th, 2020</time></h3>
          <p>
            ~0.1" Ice Freeze
          </p>
          <h4>Daily Temps (fahrenheit)</h4>
          <p>
            High 31&deg; | Low 28&deg;
          </p>
        </article>
      </li>
    </ul>
  </div>

  <button aria-label="Previous Dates" class="cp-carousel-prev">
    Previous Dates
  </button>
  <button aria-label="Next Dates" class="cp-carousel-next">
    Next Dates
  </button>
  <div aria-live="polite" class="a11y cp-carousel-a11y-live"></div>
</div>
