<!DOCTYPE html>
<html lang="en_CA">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <title>Location Ice Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="<%= rootPath %>public/styles/global.css" />
  </head>

  <body>
    <div id="page-wrapper">
      <main role="main">
        <section class="bg-white">
          <% locationData.forEach(location => { 

          %>
            <h2><%= location.name %></h2>
          <% }); %>
        </section>
        <div class="footer">&copy; <%= utils.currentYear %> Chris Pond</div>
      </main>
    </div>
    <script src="<%= rootPath %>public/scripts/global.js"></script>
  </body>
</html>
